header {
    display:block;
    margin-bottom: 1px;
}

nav {
    display:block;
    width: 20%;
    float: left;
}

section {
    display:block;
    width: 70%;
    float: right;
}

body {
    color: #3366BB;
    font-size: 16px;
    background-color: #EEDDAA;
    font-family: stoke, Lucida Bright, liberation;
}

a:link { color:#2255AA; text-decoration:none; }
a:visited { color:#2255CC; text-decoration:none; }
ol ul { line-height: 200%; }

nav ul {
    color: #3366BB;
    margin-top: 40px;
    line-height: 230%;
    list-style-type: disc;
}

.ender {
    float: right;
    text-align: right;
    font-size: 14px;
    line-height: 140%;
    font-family: Karla, verdana, Ubuntu;
}

img.imgLogo {
    padding-bottom: 15px;
    border-bottom: 4px solid #3366BB;
    margin-bottom: 6px;
}

.apres {
text-align: center;
font-size: 16px;
}

/*Definições de estilo para a Página de Harmonização.*/

.titulo{
    text-align: center;
}

dl.listaQueijo{
    width: 440px;
    color: #3366BB;
    background-color: #FFFFBB;
    padding: 10px;
    border: 2px solid #3366BB;
    margin: 0 auto 10px auto;
}

dl.listaQueijo ul{
    color: #3366BB;
    font-size: 14px;
}

dl.listaQueijo h4{
    font-size: 14px;
}
dl.listaQueijo .procedência{
    text-decoration: underline;
}

/*Definições para a Página de Queijos.*/

table.tabQueijo {
    border-collapse: collapse;
    margin-top: 6px;
    font-size: 15px;
    background-color: #FFFFBB;
    color: #114499;
    font-family: Karla, verdana, Ubuntu;
}

table.tabQueijo td, table.tabQueijo th {
    border: 2px solid #000000;
    padding: 6px 12px;
}

table.tabQueijo th.linTH {
    color: #EEEE00;
    background-color: #887733;
    vertical-align: middle;
    text-align: center;
}

table.tabQueijo td.colTH {
    color: #222222;
    background-color: #cb8;
    text-align: left;
}

img.imgQueijo{
    width: 60px;
    height: 44px;
}
td.preco{
    color: #CC0000;
}