/*
* Estilo Geral
*/
body {
color: #FFFF00;
font-size: 16px;
background-color: #116688;
font-family: verdana,liberation;
}
a:link { color:#FFFF00; text-decoration:none; }
a:visited { color:#EEEE00; text-decoration:none; }
ol, ul { line-height: 200%; }
/*
* Estilo Seções
*/
header {
display:block;
margin-bottom: 1px;
}
nav {
display:block;
width: 20%;
float: left;
}
section {
display:block;
width: 77%;
float: right;
}
/*
* Estilo Header
*/
.ender {
float: right;
text-align: right;
font-size: 12px;
line-height: 150%;
}
img.imgLogo {
padding-bottom: 15px;
border-bottom: 3px solid;
margin-bottom: 6px;
}
/*
* Estilo Nav
*/
nav ul {
color: #FFFF00;
margin-top: 30px;
list-style-type: circle;
}
/***************************************
* Estilo Seção Apresentação
*/
div.apres {
text-align: center;
}
/***************************************
* Estilo Seção Console
*/
.listaConsoles {
color: #115566;
border: 4px solid #000066;
margin: 30px 10px 10px 10px;
padding: 10px 10px 10px 50px;
background-color: #FFFFFF;
}
.listaConsoles ul {
color: #770077;
list-style-type: circle;
}
.listaConsoles .preco {
color: #CC0000;
}
/***************************************
* Estilo Seção Jogos
*/
.tabJogos {
color: #000066;
margin-top: 6px;
border-collapse: collapse;
background-color: #FFFFFF;
font-family: "arial,ubuntu";
}
.tabJogos td, .tabJogos th {
border: 2px solid #000066;
padding: 6px 12px 6px 12px;
}
.tabJogos .linTH {
color: #FFFFFF;
text-align: center;
vertical-align: middle;
background-color: #009944;
}
.tabJogos .colTH {
color: #FFFFFF;
text-align: left;
background-color: #2288BB;
}
.tabJogos .preco {
color: #CC0000;
font-weight: bold;
vertical-align: middle;
}
.imgJogo {
width: 80px;
height: 80px;
}
/***************************************
* Estilo Página Compras
*/
form {
float: right;
}
fieldset {
background-color: #2288BB;
}
.fsForm {
width: 550px;
clear: both;
}
.lab90 {
float: left;
width: 90px;
display: block;
}
.ent270Form {
float: left;
width: 200px;
}
.lab70segCol {
float: left;
width: 70px;
display: block;
margin-left: 28px;
}
.ent120Form {
float: left;
width: 120px;
}
.ent500Form {
float: left;
width: 420px;
}
.fsResDir{
width: 280px;
float: right;
height: 280px;
}
.ent20Form {
width: 22px;
}
.ent40Form {
width: 44px;
}
.fsResEsq {
width: 240px;
float: left;
height: 280px;
}
.lstSel {
width: 230px;
height: 80px;
}
.entDir {
float: right;
}
.ent80Dir {
width: 80px;
float: right;
}